package custom

import (
	"gorm.io/gorm"
	"{{ getRootFolderPath }}/internal/database/repositories/{{ .Tag }}/generated"
)

type RepositoryImpl struct {
	*generated.RepositoryImpl
}

func NewRepository(db *gorm.DB) *RepositoryImpl {
	return &RepositoryImpl {
		RepositoryImpl: generated.NewRepository(db),
	}
}