package generated

import (
    "gorm.io/gorm"
    "{{ getRootFolderPath }}/internal/models"
    "context"
)

type RepositoryImpl struct {
	Db *gorm.DB
}

func NewRepository(db *gorm.DB) *RepositoryImpl {
	return &RepositoryImpl{db}
}

{{ $paths := index $.Data.Tags .Tag }}
{{ range $paths -}}
    {{ range .Operations -}}
            //{{ if or (ne .Summary "") (ne .Description "") }} {{ upFirst .OperationId }} - Summary: {{ .Summary }}. Description: {{ .Description }} {{ end }}
            func (s *RepositoryImpl) {{ upFirst .OperationId }}(
                ctx context.Context,
               {{- if .RequestBody }}
                    {{- $modelName := .RequestBody.Content.ModelName }}
                    {{ if .RequestBody.IsArray -}}
                        {{ lowFirst $modelName }}DTO []*models.{{ $modelName }}DTO, // {{ .Description }}
                    {{ else -}}
                        {{ lowFirst $modelName }}DTO *models.{{ $modelName }}DTO,
                    {{- end }}
               {{- end }}
               {{- range .Parameters -}}
                    {{ $type := convertToGoType .Type .Format }}
                    {{ .Name }} {{ if .IsArray }} []{{ $type }} {{ else }} {{ $type }} {{ end }}, // Required: {{ .Required }}, Description: {{ .Description }}
               {{- end }}
            ) {{ getResponse . }} {
                panic("not implemented")
            }
    {{ end -}}
{{ end }}