package {{ .Tag }}

import (
    "net/http"
    "{{ getRootFolderPath }}/internal/transport/http/in/{{ .Tag }}/custom"
    {{ .Tag }}Service "{{ getRootFolderPath }}/internal/service/{{ .Tag }}"
)

{{ $paths := index $.Data.Tags .Tag }}
type Controller interface {
    {{ range $paths -}}
        {{ range .Operations -}}
            //{{ if or (ne .Summary "") (ne .Description "") }} {{ upFirst .OperationId }} - Summary: {{ .Summary }}. Description: {{ .Description }} {{ end }}
            {{ upFirst .OperationId }}(
               w http.ResponseWriter, r *http.Request) error
        {{ end -}}
    {{ end }}
}

func NewController(service {{ .Tag }}Service.Service) *custom.ControllerImpl {
	return custom.NewController(service)
}