package {{ .Tag }}

import (
    "net/http"
)

{{ $paths := index $.Data.Tags .Tag }}
type Controller interface {
    {{ range $paths -}}
        {{ range .Operations -}}
            //{{ if or (ne .Summary "") (ne .Description "") }} {{ upFirst .OperationId }} - Summary: {{ .Summary }}. Description: {{ .Description }} {{ end }}
            {{ upFirst .OperationId }}(
               w http.ResponseWriter, r *http.Request) error
        {{ end -}}
    {{ end }}
}
