package {{ .Tag }}

{{ $paths := index $.Data.Tags .Tag }}
type Controller interface {
    {{ range $paths -}}
        {{ range .Operations -}}
            // {{ if or (ne .Summary "") (ne .Description "") }} {{ upFirst .OperationId }} - Summary: {{ .Summary }}. Description: {{ .Description }} {{ end }}
            {{ upFirst .OperationId }}(
               {{ range .Parameters -}}
                    {{- $type := convertToGoType .Type .Format -}}
                    {{ .Name }} {{ if .IsArray }} []{{ $type }} {{ else }} {{ $type }} {{ end }}, // Required: {{ .Required }}, Description: {{ .Description }}
               {{- end }}
            ) error
        {{ end -}}
    {{ end }}
}
